
nav {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
}


#welcome {
    font-family: "Raleway", sans-serif;
}

.collection {
    font-family: "Raleway", sans-serif;
    text-align: center;
}

footer {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.tameimpala-photos {
    font-family: "Raleway", sans-serif;
    font-size: 40px;
    text-align: center;
    
}

img {
    border-style: solid;
    border-color: darkgray;
    border-width: 2px;
}

.world-cup {
    font-family: "Raleway", sans-serif;
    font-size: 40px;
    text-align: center;
}

.unlu-tablolar {
    font-family: "Raleway", sans-serif;
    font-size: 40px;
    text-align: center;
}

.about-us {
    font-family: "Raleway", sans-serif;
    
}

.iletisim {
    font-family: "Raleway", sans-serif;    
}
